<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Hướng dẫn | savetext clone</title>
    <style>
      h2,
      p {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h2>Hướng dẫn sử dụng</h2>
    <p>Thêm đoạn mã tùy chọn của riêng bạn vào sau đường dẫn hiện tại</p>
    <p>
      Ví dụ: https://savetext-v1.vercel.app <br />=>
      https://savetext-v1.vercel.app/abc123
    </p>
  </body>
</html>
