<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      name="description"
      content="Save and share your text with ease. A simple and secure way to store and share your thoughts."
    />
    <meta
      name="keywords"
      content="save text, share text, text sharing, online notepad, cloud storage, note sharing"
    />
    <meta
      property="og:title"
      content="Save Your Text - Share & Store Your Notes"
    />
    <meta
      property="og:image"
      content="https://firebasestorage.googleapis.com/v0/b/upload-images-42481.appspot.com/o/logos%2Flogo-savet.png?alt=media&token=c792dc0b-a714-4b6b-b8a1-77c35a96908f"
    />
    <meta
      property="og:url"
      content="https://savetext-v1.vercel.app"
    />
    <meta
      property="og:description"
      content="A simple way to save and share text online, with ease and security."
    />
    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:site_name"
      content="Save Your Text"
    />
    <link
      rel="canonical"
      href="https://savetext-v1.vercel.app"
    />
    <meta
      name="author"
      content="DDung203"
    />
    <meta
      name="robots"
      content="index, follow"
    />
    <link
      rel="icon"
      href="https://firebasestorage.googleapis.com/v0/b/upload-images-42481.appspot.com/o/logos%2Flogo-savet.png?alt=media&token=c792dc0b-a714-4b6b-b8a1-77c35a96908f"
      type="image/png"
    />
    <title>Save Your Text - A Simple Way to Save & Share Text</title>

    <!-- Preconnect to improve performance -->
    <link
      rel="preconnect"
      href="https://firebasestorage.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://savetext-v1.vercel.app"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      header {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        padding: 0 20px;
        background-color: #f5f5f5;
      }

      button {
        padding: 10px 20px;
        background-color: #fff;
        font-weight: bold;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      #text {
        width: 98%;
        min-height: 90vh;
        padding: 10px;
        resize: none;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        line-height: 1.5;
      }

      .password-input {
        padding: 5px 10px;
      }
    </style>
  </head>
  <body>
    <form
      autocomplete="off"
      method="post"
      action="/save"
    >
      <header>
        <input
          type="hidden"
          id="<%= id %>"
          name="param"
          value="<%= id %>"
        />
        <input
          class="password-input"
          type="text"
          name="password"
          placeholder="Enter password (optional)"
          maxlength="15"
        />
        <button
          id="submit"
          class="submit"
          type="submit"
        >
          Save
        </button>

        <button
          type="button"
          id="select-all"
          class="select-all"
        >
          Copy text
        </button>

        <button
          type="button"
          id="saveButton"
          class=""
        >
          Download
        </button>
      </header>
      <textarea
        name="content"
        id="text"
      >
<%= dataOfId.content %></textarea
      >
    </form>
    <!-- Javascript -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("select-all").addEventListener("click", () => {
          const textArea = document.getElementById("text");
          textArea.select();
          document.execCommand("copy");
        });

        document.addEventListener("keydown", function (event) {
          const submitButton = document.querySelector("#submit");

          if (event.ctrlKey && event.key === "s") {
            event.preventDefault();
            if (submitButton) {
              submitButton.click();
            } else {
              console.error("Something went wrong!");
            }
          }
        });
      });
    </script>

    <script>
      async function saveToFile() {
        try {
          const content = document.getElementById("text").value;

          // Create blob
          const blob = new Blob([content], { type: "text/plain" });

          // Create URL for Blob
          const url = URL.createObjectURL(blob);

          // Create file name
          const fileName = window.location.pathname.split("/").pop();

          // Create download link
          const a = document.createElement("a");
          a.href = url;
          a.download = `${fileName}.txt`;

          document.body.appendChild(a);
          a.click(); // Simulate click to download
          document.body.removeChild(a);

          URL.revokeObjectURL(url);
        } catch (error) {
          alert("Lỗi khi lưu file!");
          console.error("Lỗi khi lưu file:", error);
        }
      }

      document
        .getElementById("saveButton")
        .addEventListener("click", saveToFile);
    </script>
  </body>
</html>
